extends /fragments/gallery.jade

block append head-scripts
    script(src='/scripts/albums.js')

block sidebar
    #side-fantom
    #sidebar
        #info-pane
            p Альбомов всего: #{info.albumsCount}
            //p Фотографий всего: #{info.photosCount}
        #btn-pane
            //.btn Редактировать профиль
            .btn.js-album-add Добавить альбом
        #newAlbumDialog.dialog-box(style='display: none;')
            .title Создать новый альбом
            form(action='/album_new', method='post', id='formNewAlbum', hidden)
            input.cell(type='text', name='album_name', form='formNewAlbum', placeholder='Название')
            input.cell(type='text', name='description', form='formNewAlbum', placeholder='Описание')
            .multi-cell
                input.part-cell(type='submit', value='Создать', form='formNewAlbum')
                input.part-cell.js-cancel(type='button', value='Отмена')

albumItems
block content
    #albums-list
        each item in albums
            .album-block
                a(href='/album/#{item.id}')
                    .album-img
                        if item.pathPreview
                            img(src='/file/preview/#{item.pathPreview}')
                    .album-name= item.name
