extends /fragments/gallery.jade

block append head-scripts
    script(src='/scripts/albums.js')

block sidebar
    #side-fantom
    #sidebar
        #info-pane
            p Альбомов всего: #{info.albumsCount}
            p Фотографий всего: #{info.photosCount}
        #btn-pane
            //.btn Редактировать профиль
            .btn.js-album-add Добавить альбом

albumItems
block content
    #albums-list
        each item in albums
            .album-block
                a(href='/album/#{item.id}')
                    .album-img
                        img(src='/preview/#{item.pathPreview}')
                    .album-name= item.name