extends /fragments/gallery.jade

block append head-scripts
    script(src='/scripts/albums.js')

block sidebar
    #side-fantom
    #sidebar
        #info-pane
            p #{album.description}
            p Фотографий всего: #{album.photos.size()}
        #btn-pane
            .btn.js-album-edit Редактировать альбом
            .btn.js-album-delete Удалить альбом
            .btn.js-photo-add Добавить фотографии
        #editAlbumDialog.dialog-bo(style='display: none;')
            .title Редактировать альбом
            form(action='/album_edit', method='post', id='formEditAlbum', hidden)
            input.cell(type='hidden', name='album_id', value='#{album.id}', form='formEditAlbum', hidden)
            input.cell(type='text', name='album_name', form='formEditAlbum', placeholder='Название')
            input.cell(type='text', name='description', form='formEditAlbum', placeholder='Описание')
            .multi-cell
                input.part-cell(type='submit', value='Изменить', form='formEditAlbum')
                input.part-cell.js-cancel(type='button', value='Отмена')
        #deleteAlbumDialog.dialog-box(style='display: none;')
            .title Удалить альбом ?
            form(action='/album_delete', method='post', id='formDeleteAlbum', hidden)
            input.cell(type='hidden', name='album_id', value='#{album.id}', form='formDeleteAlbum', hidden)
            .multi-cell
                input.part-cell(type='submit', value='Удалить', form='formDeleteAlbum')
                input.part-cell.js-cancel(type='button', value='Отмена')
        #addPhotoDialog.dialog-box(style='display: none;')
            .title Добавить фотографии
            form(action='/photo_add', method='post', id='formAddPhoto', enctype='multipart/form-data', hidden)
            input.cell(type='hidden', name='album_id', value='#{album.id}', form='formAddPhoto', hidden)
            input.cell(type='file', name='photo_files', form='formAddPhoto', accept='image/jpeg', multiple)
            .multi-cell
                input.part-cell(type='submit', value='Добавить', form='formAddPhoto')
                input.part-cell.js-cancel(type='button', value='Отмена')

block content
    #albums-list
        each item in album.photos
            .album-block
                a(href='/photo/#{item.id}')
                    .album-img
                        if item.pathPreview
                            img(src='/file/preview/#{item.pathPreview}')
                    .album-name= item.name