extends /fragments/gallery.jade

block append head-scripts
    script(src='/scripts/albums.js')

block append head-styles
    link(rel='stylesheet' href='/styles/photo.css')

block sidebar
    #side-fantom
    #sidebar
        #info-pane
            p #{photo.name}
            p #{photo.description}
        #btn-pane
            div(style='display: flex;')
                span.navspan
                    if photo.prev
                        a.nava(href = '/photo/#{photo.prev.id}')
                            div &larr;
                span.navspan
                    if photo.next
                        a.nava(href = '/photo/#{photo.next.id}')
                            div &rarr;
            a(href='/album/#{photo.albumCode}')
                .btn Альбом
            .btn.js-photo-delete Удалить фотографию
        #deletePhotoDialog.dialog-box(style='display: none;')
            .title Удалить фотографию ?
            form(action='/photo_delete', method='post', id='formDeletePhoto', hidden)
            input.cell(type='hidden', name='photo_id', value='#{photo.id}', form='formDeletePhoto', hidden)
            .multi-cell
                input.part-cell(type='submit', value='Удалить', form='formDeletePhoto')
                input.part-cell.js-cancel(type='button', value='Отмена')

block content
    #photo-box
        #photo-holder
            img(src='/file/full/#{photo.pathFull}')
            //#carousel
                if photo.prev
                    #prev-photo
                        a(href='/photo/#{photo.prev.id}')
                            img(src='/file/preview/#{photo.prev.pathPreview}')
                #current-photo
                    img(src='/file/preview/#{photo.pathPreview}')
                if photo.next
                    #next-photo
                        a(href='/photo/#{photo.next.id}')
                            img(src='/file/preview/#{photo.next.pathPreview}')